/* single info */
.single-info {
    position: relative;
}

.single-info img {
    position: absolute;
    top: -90px;
    left: calc(100% - 72%);
}

.single-info .card-body {
    padding-top: 50px;
}

.single-info .card {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    box-shadow: 0 12px 80px 0 rgba(98, 116, 138, .2);
    border: none;
}

.services-area {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #eaf3ff 100%);
}

/* our-process-container */
.our-process-container .media,
.our-services-container .card {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    box-shadow: 0 12px 80px 0 rgba(98, 116, 138, .2);
    border: none;
}

@media only screen and (max-width: 768px) {

    .single-info {
        margin-top: 150px;
    }


    .our-process-container .single-our-process {
        margin-top: 50px;
    }
}